/* 
//  Blueprint contains responsive elements, which get replicated 
//  for each @media breakpoint. The aim of this approach to generate
//  multiple @media rules, ensuring that the chessboard div doesn't
//  "overflow" user's screen.
*/


/*  TOP NAVBAR
//  ------------------
//  $top-nav-size
//  $top-nav-padding
//  $top-nav-status-width
//  $side-nav-size
//  $side-nav-margin
//  ------------------
*/

.navbar {
    height: $top-nav-size;

    .navbar-brand {
        width: $side-nav-size ;
        margin: 0 $side-nav-margin;
    }

    li {
        font-weight: bold;        

        a {
            color: #000;
        }
        .btn {
            height: $top-nav-size - 2 * $top-nav-padding;
            margin: $top-nav-padding;
        }
    }
}

#nav-status-bar {
    width: $nav-status-width;
    height: $top-nav-size - 2 * $top-nav-padding;
    left: 50%;
    margin-left: -$nav-status-width / 2;
    margin-top: $top-nav-padding;
    margin-bottom: $top-nav-padding;
    line-height: $top-nav-size - 2 * $top-nav-padding;
}


/*  SIDE NAVBARS
//  ------------------
//  $side-nav-size
//  $side-nav-margin
//  $square-size
//  ------------------
*/

.nav-side {
    width: $side-nav-size + 2 * $side-nav-margin;
    max-width: $side-nav-size + 2 * $side-nav-margin;

    .nav-side-content {
        height: 8 * $square-size;
        margin-top: 70px;

        .list-group {
            width: $side-nav-size;
            margin: 0 $side-nav-margin;

            &.top {
                top: 0;
                .player-control {
                    margin-top: $square-size * 0.5;
                }
            }
            &.bottom {
                bottom: 0;
                .player-control {
                    margin-bottom: $square-size * 0.5;
                }
            }

            .list-group-item {
                width: $side-nav-size;
                height: $side-nav-size;
                margin: 0 0 1px 0;
                padding: 0;

                .option {
                    line-height: $side-nav-size;
                    font-size: $side-nav-size - 16px;
                }
            }
        }

    }
}

#nav-left {
    left: 0;
    top: 0;    
}

#nav-right {
    right: 0;
    top: 0;   
}


/*  MAIN CONTENT
//  ------------------
//  $side-nav-size
//  $side-nav-margin
//  $widget-margin
//  ------------------
*/

#content-container {
    margin: $widget-margin $side-nav-size + $side-nav-margin + $widget-margin;
}


/*  CHESSBOARD
//  ------------------
//  $square-size
//  $chessboard-margin
//  ------------------
*/

#chessboard-container {
    padding: 0 0 $chessboard-margin $chessboard-margin;

    .coordinate {

    }

    @for $i from 0 through 7 {
        .coordinate.file-#{$i} {
            left: $i * $square-size + $chessboard-margin;
            bottom: 0;
            width: $square-size;
            height: $chessboard-margin;
            line-height: $chessboard-margin;
            &.reversed {
                left: (7 - $i) * $square-size + $chessboard-margin;
            }
        }
        .coordinate.rank-#{$i} {
            left: 0;
            bottom: $i * $square-size + $chessboard-margin;
            width: $chessboard-margin;
            height: $square-size;
            line-height: $square-size;
            &.reversed {
                bottom: (7 - $i) * $square-size + $chessboard-margin;
            }
        }
    }
}

.chessboard {
    width: 8 * $square-size;
    height: 8 * $square-size;

    .square {
        width: $square-size;
        height: $square-size;

        .square-value {
            width: 16px;
            height: 16px;
            font-size: 11px;
            line-height: 16px;
        }
    }

    .piece {
        width: $square-size;
        height: $square-size;
    }

    @for $i from 0 through 7 {
        @for $j from 0 through 7 {
            .at-#{16*$i + $j} {
                left: $j * $square-size;
                top: (7 - $i) * $square-size;

                &.reversed {
                    left: (7 - $j) * $square-size;
                    top: $i * $square-size;
                }
            }
        }
    }
}

.chessboard {

    .subscript.square-id {

    }   
    .subscript.data {

    }

    .square-outline {
        left: 0;
        top: 0;
        width: $square-size - 4px;
        height: $square-size - 4px;
        margin: 2px;
        border-width: 2px;
    }
}


/*  WIDGETS
//  ------------------
//  $square-size
//  ------------------
*/

#movelist-container {
    width: 250px;
    height: 8 * $square-size;
    max-height: 8 * $square-size;   

    .panel-body {
        max-height: 8 * $square-size - 40px;
    }
}

#console-container {
    width: 250px;
    min-height: 200px;
    max-height: 8 * $square-size;

    .panel-body {
        max-height: 8 * $square-size - 40px;
    }
}