$square-size: 65px;
$nav-height: 50px;
$nav-status-width: 260px;
$left-nav-size: 50px;
$left-nav-margin: 5px;


/* ANGULAR BOOTSTRAP */
.nav, 
.pagination, 
.carousel, 
.panel-title a { 
	cursor: pointer; 
}


/* ANGULAR BOOTSTRAP MODAL FIX */
.modal {
    display: block;
    height: 0;
    overflow: visible;
}

.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}


/* APP */

html, body, #body-container {
    height: 100%;
}

body {
    background: #bbb;
}

.navbar {
    margin: 0;
    z-index: 10;

    li.action {
        font-weight: bold;        

        a {
            color: #000;
        }
    }
}

#nav-status-bar {
    position: absolute;
    width: $nav-status-width;
    height: $nav-height - 10px;
    left: 50%;
    margin-left: -$nav-status-width / 2;
    margin-top: 5px;
    border-radius: 4px;
    line-height: $nav-height - 10px;
    text-align: center;
    font-weight: bold;
    color: #999;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


#nav-left {
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 0;
    width: $left-nav-size + 2 * $left-nav-margin;
    max-width: $left-nav-size + 2 * $left-nav-margin;
    height: 100%;
    background: transparent;

    .list-group {
        position: relative;
        width: $left-nav-size;
        margin: 0 $left-nav-margin;
        padding: 0;

        &.top {
            height: 8 * $square-size - $left-nav-size;
            margin-top: 70px;
        }
        &.bottom {
            height: $left-nav-size;
        }
    }

    .list-group-item {
        width: $left-nav-size;
        height: $left-nav-size;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background: none;
        color: #fff;

        &.opened {
            outline: 1px solid #fff;
        }

        .option {
            line-height: $left-nav-size - 3px;
            font-size: 30px;

            &:hover {
                color: #666;
                cursor: pointer;
            }
        }
    }
}


.widget {
    margin: 10px;
}

.widget.panel .panel-body {
    padding: 10px;
}

.widget .table.table-condensed td {
    padding: 0 4px;
}

#board-container {
	position: relative;
	display: block;
	float: left;
}

#content-container {
    margin: 10px 125px;
}

.chessboard {
    position: relative;
    width: 8 * $square-size;
    height: 8 * $square-size;
    background: #eee;
    background: url('../img/chessboard.jpg') no-repeat center center;
    background-size: cover;
    cursor: default;

    .square {
		position: absolute;
	    width: $square-size;
	    height: $square-size;

	    .square-value {
	    	width: 16px;
	    	height: 16px;
	    	font-size: 11px;
	    	line-height: 16px;
	    	text-align:center;
	    	color: #d43;
	    }

	    &.selectable {
            cursor: pointer;
            background-color: #ddf;
            &:hover {
                background-color: #ccf;
            }
	    }
	}

	.piece {
		position: absolute;
		width: $square-size;
		height: $square-size;
		background-repeat: no-repeat;
		background-size: cover;

		&.white.pawn { background-image: url('../img/pieces/white-pawn.png'); }
		&.white.knight { background-image: url('../img/pieces/white-knight.png'); }
		&.white.bishop { background-image: url('../img/pieces/white-bishop.png'); }
		&.white.rook { background-image: url('../img/pieces/white-rook.png'); }
		&.white.queen { background-image: url('../img/pieces/white-queen.png'); }
		&.white.king { background-image: url('../img/pieces/white-king.png'); }
		&.black.pawn { background-image: url('../img/pieces/black-pawn.png'); }
		&.black.knight { background-image: url('../img/pieces/black-knight.png'); }
		&.black.bishop { background-image: url('../img/pieces/black-bishop.png'); }
		&.black.rook { background-image: url('../img/pieces/black-rook.png'); }
		&.black.queen { background-image: url('../img/pieces/black-queen.png'); }
		&.black.king { background-image: url('../img/pieces/black-king.png'); }

		&.ng-enter,
		&.ng-leave {
			-webkit-transition: all .25s;
			-moz-transition: all .25s;
			-ms-transition: all .25s;
			-o-transiton: all .25s;
			transition: all .25s;
		}
		&.ng-enter,
		&.ng-leave.ng-leave-active {
			opacity: 0
		}
		&.ng-leave.ng-leave-active {
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		&.ng-leave,
		&.ng-enter.ng-enter-active {
			opacity: 1;
		}

		&.selectable {
			cursor: pointer;
			&:hover {
				background-color: #ccf;
			}
		}
		&.selected {
			background-color: #fd8;
		}
	}

	@for $i from 0 through 7 {
		@for $j from 0 through 7 {
			.at-#{16*$i + $j} {
				left: $j * $square-size;
				top: (7 - $i) * $square-size;

				&.reversed {
					left: (7 - $j) * $square-size;
					top: $i * $square-size;
				}

				-webkit-transition: left .4s, top .4s;
				-moz-transition: left .4s, top .4s;
				-o-transiton: left .4s, top .4s;
				transition: left .4s, top .4s;
			}
		}
	}
}


.glyphicon.grey {
	color: #bbb;
}


.default-select-disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

/* HIGHLIGHTS */
.ui-state-highlight { 
	background: rgba(120,250,80,.45); 
}
.drag-hover { 
	background: rgba(255,235,90,.7);
}

/* DEBUG TOOLS */
.chessboard {

	.subscript.square-id {
	    position: absolute;
	    bottom: 1px;
	    right: 3px;
	    font-size: 11px;
	    line-height: 100%;
	    color: #999;
	}	
	.subscript.data {
	    position: absolute;
	    bottom: 1px;
	    left: 2px;
	    font-size: 11px;
	    line-height: 100%;
	    color: #444;
	}

	.square-outline {
		opacity: 0;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: $square-size - 4px;
		height: $square-size - 4px;
	    margin: 2px;
	    border-width: 2px;

	  	&.check{
	    	opacity: 1;
	    	border-style: dashed;
		    border-color: #f90;    
		}
		&.pin {
			opacity: 1;
			border-style: dashed;
		    border-color: #333;    
		}

		-webkit-transition: opacity .25s, border-color .25s;
		-moz-transition: opacity .25s, border-color .25s;
		-o-transiton: opacity .25s, border-color .25s;
		transition: opacity .25s, border-color .25s;
	}

    &.debug {
        background: #eee;
        
        .square {
            outline: 1px solid #bbb;
        }
    }
}

body.debug {
    ul, li,
    .widget, .container, .container-fluid, .row, .modal, .panel, 
    .navbar, .nav, .list-group, .list-group-item,
    #content-container, #chessboard-container, #chessboard {
        outline: 1px dotted rgba(0,0,0,.65);
    }
}


#movelist-container {
    position: relative;
    display: block;
    width: 260px;
    max-height: 8 * $square-size;
    float: left;
    overflow: hidden;    

    .panel-body {
        max-height: 8 * $square-size - 40px;
        overflow-y: scroll;
    }
}


#console-container {
	position: relative;
	display: block;
    width: 320px;
    max-height: 8 * $square-size;
	float: right;
    overflow: hidden;

    .panel-body {
        max-height: 8 * $square-size - 40px;
        overflow-y: scroll;
    }
}


/* MODAL */

.modal-content {
    width: 45%;
    margin: 60px auto;
}

.modal select {
    width: 100%;
}

.modal .current-value {
    font-style: italic;
    color: #999;
}