$square-size: 65px;


/* ANGULAR BOOTSTRAP */
.nav, 
.pagination, 
.carousel, 
.panel-title a { 
	cursor: pointer; 
}


body {
    background: #bbb;
}
.control-panel {
    padding: 5px;
}

#board-container {
	position: relative;
	display: block;
	float: left;
    padding: 20px;
}

.chessboard {
    position: relative;
    width: 8 * $square-size;
    height: 8 * $square-size;
    background: #ddd;
    background: url('../img/chessboard.jpg') no-repeat center center;
    background-size: cover;

    .square {
		position: absolute;
	    width: $square-size;
	    height: $square-size;

	    .square-value {
	    	width: 16px;
	    	height: 16px;
	    	font-size: 11px;
	    	line-height: 16px;
	    	text-align:center;
	    	color: #d90;
	    }
	}

	.piece {
		position: absolute;
		width: $square-size;
		height: $square-size;
		background-repeat: no-repeat;
		background-size: cover;

		&.white.pawn { background-image: url('../img/pieces/white-pawn.png'); }
		&.white.knight { background-image: url('../img/pieces/white-knight.png'); }
		&.white.bishop { background-image: url('../img/pieces/white-bishop.png'); }
		&.white.rook { background-image: url('../img/pieces/white-rook.png'); }
		&.white.queen { background-image: url('../img/pieces/white-queen.png'); }
		&.white.king { background-image: url('../img/pieces/white-king.png'); }
		&.black.pawn { background-image: url('../img/pieces/black-pawn.png'); }
		&.black.knight { background-image: url('../img/pieces/black-knight.png'); }
		&.black.bishop { background-image: url('../img/pieces/black-bishop.png'); }
		&.black.rook { background-image: url('../img/pieces/black-rook.png'); }
		&.black.queen { background-image: url('../img/pieces/black-queen.png'); }
		&.black.king { background-image: url('../img/pieces/black-king.png'); }

		&.ng-enter,
		&.ng-leave {
			-webkit-transition: opacity .5s;
			-moz-transition: opacity .5s;
			-o-transiton: opacity .5s;
			transition: opacity .5s;
		}
		&.ng-enter,
		&.ng-leave.ng-leave-active {
			opacity: 0
		}
		&.ng-leave,
		&.ng-enter.ng-enter-active {
			opacity: 1;
		}
		/*
		&.sliding {
			-webkit-transition: left 1s linear, right 1s linear, top 1s linear, bottom 1s linear;
			-moz-transition: left 1s linear, right 1s linear, top 1s linear, bottom 1s linear;
			-o-transiton: left 1s linear, right 1s linear, top 1s linear, bottom 1s linear;
			transition: left 1s linear, right 1s linear, top 1s linear, bottom 1s linear;
		}
		&.snap {
			background: red;
			-webkit-transition: background .5s;
			-moz-transition: background .5s;
			-o-transiton:background .5s;
			transition: background .5s;
		}
		*/
	}

	@for $i from 0 through 7 {
		@for $j from 0 through 7 {
			.at-#{16*$i + $j} {
				left: $j * $square-size;
				top: (7 - $i) * $square-size;

				&.reversed {
					left: (7 - $j) * $square-size;
					top: $i * $square-size;
				}
			}
		}
	}

	&.debug-true {
    	background: #eee;
    	
    	.square {
    		outline: 1px solid #bbb;
    	}
    }
}


.glyphicon.grey {
	color: #bbb;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

/* HIGHLIGHTS */
.ui-state-highlight { 
	background: rgba(120,250,80,.45); 
}
.drag-hover { 
	background: rgba(255,235,90,.7);
}

/* DEBUG TOOLS */
.chessboard {

	.subscript.square-id {
	    position: absolute;
	    bottom: 1px;
	    right: 3px;
	    font-size: 11px;
	    line-height: 100%;
	    color: #999;
	}	
	.subscript.data {
	    position: absolute;
	    bottom: 1px;
	    left: 2px;
	    font-size: 11px;
	    line-height: 100%;
	    color: #444;
	}

	.square-outline {
		visibility: hidden;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: $square-size - 6px;
		height: $square-size - 6px;
	    margin: 1px;
	    border-width: 2px;

	  	&.state-1 {
	    	visibility: visible;
	    	border-style: dashed;
		    border-color: #f90;    
		}
		&.state-2 {
			visibility: visible;
			border-style: dashed;
		    border-color: #333;    
		}
	}

}


#console-container {
	position: relative;
	display: block;
	float: right;
	padding: 20px;
}

#console {
	min-width: 260px;
	padding: 10px;
	background: #222;
	color: #ffe;

	p {
		height: 12px;
		line-height: 12px;
		font-size: 12px;

		&.top-move {
			background: #444;
		}
	}
}


