<!doctype html>
<html lang="pl" dir="ltr" ng-app="app" ng-controller="mainController">
<head>
	<title>Chess</title>
	<meta content="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="lib/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<link href="sassc/style.css" rel="stylesheet"/>
</head>
<body ng-keypress="keypress($event)" ng-class="{debug: settings.debugMode}">
    
<!-- Template: chessboard -->
<script type="text/ng-template" id="template-chessboard.html">
<div class="chessboard" ng-class="{debug: settings.debugMode, reversed: settings.isReversed}" id="chessboard">
    <div square="square" state="game.chessboardState[square]" selectable="isSelectableSquare(square)" ng-repeat="square in squares"></div>
    <div piece ng-model="piece" selectable="isSelectablePiece(piece)" capturable="isCapturablePiece(piece)" selected="isSelected(piece)" ng-repeat="piece in game.currentPosition.pieceList.all"></div>
</div>
</script>

<!-- Template: square -->
<script type="text/ng-template" id="template-square.html">
<div ng-click="select()" class="square at-{{square}} {{square.complex}} default-select-disabled" ng-class="{selectable: isSelectable, reversed: settings.isReversed}" id={{square}}>
    <div ng-show="settings.debugMode" class="subscript square-id default-select-disabled">{{square}}</div>
    <div ng-show="settings.debugMode" class="square-outline" ng-class="{check: state.check, pin: state.pin}"></div>
    <div ng-show="settings.debugMode" class="square-value default-select-disabled">{{}}</div>
</div>
</script>

<!-- Template: piece -->
<script type="text/ng-template" id="template-piece.html">
<div ng-click="select()" class="piece {{color}} {{piece.name}} at-{{piece.square}}" ng-class="{selectable: isSelectable, capturable: isCapturable, selected: isSelected, reversed: settings.isReversed}" at={{piece.square}}>
    <div ng-show="settings.debugMode" class="subscript data default-select-disabled">{{piece.square}}</div>
</div>
</script>

<div id="body-container">

    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">Chess</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a ng-click="startGame(true)">New Game</a></li>
                </ul>

                <div id="nav-status-bar">
                    {{game.history.move.san}}
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="debug()"><span class="glyphicon glyphicon-wrench grey"></span> Debug</a></li>
                    <li><a ng-click="open()" ng-controller="optionsModalController"><span class="glyphicon glyphicon-cog grey"></span> Options</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- /Bootstrap navbar -->

    <!-- Vertical menu -->
    <div id="nav-left">
        <ul class="list-group top">            
            <li popover="Move list" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item" ng-class="{opened: settings.showMoveList}">
                <center><span ng-click="moveList()" class="option glyphicon glyphicon-list"></span></center>
            </li>
            <li popover="Move evaluation" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item" ng-class="{opened: settings.showMoveEvaluation}">
                <center><span ng-click="moveEvaluation()" class="option glyphicon glyphicon-sort-by-attributes-alt"></span></center>
            </li>
            <li popover="Game settings" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item">
                <center><span ng-click="open()" ng-controller="optionsModalController" class="option glyphicon glyphicon-cog"></span></center>
            </li>
            <li popover="Debug mode" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item" ng-class="{opened: settings.debugMode}">
                <center><span ng-click="debug()" class="option glyphicon glyphicon-wrench"></span></center>
            </li>
            <li popover="Reverse board" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item" ng-class="{opened: settings.isReversed}">
                <center><span ng-click="reverse()" class="option glyphicon glyphicon-repeat"></span></center>
            </li>
        </ul>
        <ul class="list-group bottom">
            <li popover="Black: {{settings.controlBlack}}" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item player-control">
                <center>
                    <span ng-switch="settings.controlBlack">
                    <span ng-switch-when="1" class="option glyphicon glyphicon-user option-black"></span>
                    <span ng-switch-when="2" class="option glyphicon glyphicon-tower option-black"></span>
                    </span>
                </center>
            </li>
            <li popover="White: {{settings.controlWhite}}" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item player-control">
                <center>
                    <span ng-switch="settings.controlWhite">
                    <span ng-switch-when="1" class="option glyphicon glyphicon-user option-white"></span>
                    <span ng-switch-when="2" class="option glyphicon glyphicon-tower option-white"></span>
                    </span>
                </center>
            </li>
        </ul>
    </div>
    <!-- /Vertical menu -->

    <div id="content-container">

    <div class="widget" id="board-container">        
        <div chessboard ng-controller="chessboardController"></div>
        <div ng-repeat="rank in rules.RANK_NAMES" class="coordinate rank-{{$index}}" ng-class="{reversed: settings.isReversed}">{{rank}}</div>
        <div ng-repeat="file in rules.FILE_NAMES" class="coordinate file-{{$index}}" ng-class="{reversed: settings.isReversed}">{{file | uppercase}}</div>
	</div>

    <div ng-show="settings.showMoveList" class="panel panel-default widget" id="movelist-container">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-list grey"></span> Move List</strong>
            <button ng-click="settings.showMoveList = false" type="button" class="close pull-right" aria-hidden="true">&times;</button>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-bordered">
                <tr ng-repeat="fullmove in game.history.fullMoveList">
                    <td width="16%">{{fullmove.index}}</td>
                    <td width="42%">{{fullmove.white.san}}</td>
                    <td width="42%">{{fullmove.black.san}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="settings.showMoveEvaluation" class="panel panel-default widget" id="console-container">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-sort-by-attributes-alt grey"></span> Move Evaluation</strong>
            <button ng-click="settings.showMoveEvaluation = false" type="button" class="close pull-right" aria-hidden="true">&times;</button>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <tr ng-repeat="node in engine.tree.root.children">
                    <td width="50%">{{node.move}}</td>
                    <td width="50%">{{node.value/100}}</td>
                </tr>               
            </table>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- Options modal -->
    <div class="modal-dialog" ng-controller="optionsModalController">
        <script type="text/ng-template" id="options-modal.html">
        <div class="modal-content">
            <div class="modal-header">
                <h3><span class="glyphicon glyphicon-cog grey"></span> Game Settings</h3>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped table-bordered">
                    <tr ng-repeat="option in options">
                        <td width="70%">{{option.label}}<span class="pull-right current-value">{{settings[option.name]}}</span></td>
                        <td width="30%">
                            <span ng-switch="option.type">
                            <span ng-switch-when="checkbox"><input ng-model="settings[option.name]" type="checkbox"/></span>
                            <span ng-switch-when="select"><select ng-model="settings[option.name]" ng-options="o.label for o in option.options"></select></span>
                            </span>                            
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" ng-click="">Restore defaults</button>
                <button class="btn btn-primary" ng-click="ok()">Accept</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        </script>
    </div>
    <!-- /Options modal -->

    </div>

</div>
<!-- Vendor Libraries -->
<script src="lib/js/lodash.min.js" defer></script>
<script src="lib/js/angular.min.js" defer></script>
<script src="lib/js/angular-animate.min.js" defer></script>
<script src="lib/js/angular-bootstrap.min.js" defer></script>
<!-- Chess App -->
<script src="js/scripts.js" defer></script>
<script src="js/app.js" defer></script>
<script src="js/services/settings.js" defer></script>
<script src="js/services/rules.js" defer></script>
<script src="js/services/game.js" defer></script>
<script src="js/services/engine.js" defer></script>
<script src="js/controllers/main.js" defer></script>
<script src="js/controllers/chessboard.js" defer></script>
<script src="js/controllers/console.js" defer></script>
<script src="js/controllers/options.js" defer></script>
<script src="js/directives/chessboard.js" defer></script>
</body>
</html>