<!doctype html>
<html lang="pl" dir="ltr" ng-app="app" ng-controller="mainController">
<head>
	<title>Chess</title>
	<meta content="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="lib/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<link href="sassc/style.css" rel="stylesheet"/>
</head>
<body ng-keypress="keypress($event)">
    
<!-- Template: chessboard -->
<script type="text/ng-template" id="template-chessboard.html">
<div class="chessboard debug-{{settings.debugMode}}" id="chessboard">
    <div square="square" state="squaresState[square]" selectable="isSelectableSquare(square)" ng-repeat="square in squares"></div>
    <div piece ng-model="piece" selectable="isSelectablePiece(piece)" selected="isSelected(piece)" ng-repeat="piece in game.currentPosition.pieceLists.all"></div>
</div>
</script>

<!-- Template: square -->
<script type="text/ng-template" id="template-square.html">
<div ng-click="select()" class="square at-{{square}} {{square.complex}} selectable-{{isSelectable}} default-select-disabled" id={{square}}>
    <div ng-show="settings.debugMode" class="subscript square-id default-select-disabled">{{square}}</div>
    <div ng-show="settings.debugMode" class="square-outline state-{{state}}"></div>
    <div ng-show="{{false}}" class="square-value default-select-disabled">{{game.currentPosition.attacked[square][0].join(',')}}</div>
</div>
</script>

<!-- Template: piece -->
<script type="text/ng-template" id="template-piece.html">
<div ng-click="select()" class="piece {{color}} {{piece.name}} at-{{piece.square}} selectable-{{isSelectable}} selected-{{isSelected}}" at={{piece.square}}>
    <div ng-show="settings.debugMode" class="subscript data default-select-disabled">{{piece.square}}</div>
</div>
</script>

<div id="body-container">   

    <div id="board-container" ng-controller="chessboardController">
        <button ng-click="reverse()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-cog grey"></span> Reverse</button>
        <button ng-click="debug()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-wrench grey"></span> Debug</button>
        <button ng-click="restart()" ng-show="game.result" class="btn btn-sm btn-primary">New Game</button>
        <!--<div chessboard ng-model="game.currentPosition"></div>-->
        <div chessboard></div>
	</div>

    <div id="console-container" ng-controller="consoleController">
        <div ng-show="settings.debugMode" id="console">
            <p class="top-move">{{engine.tree.root.move}} {{engine.tree.root.value/100}}</p>
            <p ng-repeat="node in engine.tree.root.children | orderBy:'value'">{{node.move}}: {{node.value/100}}</p>
        </div>
    </div>

</div>
<!-- Vendor Libraries -->
<script src="lib/js/lodash.min.js" defer></script>
<script src="lib/js/angular.min.js" defer></script>
<script src="lib/js/angular-animate.min.js" defer></script>
<script src="lib/js/angular-bootstrap.min.js" defer></script>
<!-- Chess App -->
<script src="js/scripts.js" defer></script>
<script src="js/app.js" defer></script>
<script src="js/services/settings.js" defer></script>
<script src="js/services/rules.js" defer></script>
<script src="js/services/game.js" defer></script>
<script src="js/services/engine.js" defer></script>
<script src="js/controllers/main.js" defer></script>
<script src="js/controllers/chessboard.js" defer></script>
<script src="js/controllers/console.js" defer></script>
<script src="js/directives/chessboard.js" defer></script>
</body>
</html>