<!doctype html>
<html lang="pl" dir="ltr" ng-app="app" ng-controller="mainController">
<head>
	<title>Chess</title>
	<meta content="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="lib/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<link href="sassc/style.css" rel="stylesheet"/>
</head>
<body ng-keypress="keypress($event)" ng-class="{debug: settings.debugMode}">
    
<!-- Template: chessboard -->
<script type="text/ng-template" id="template-chessboard.html">
<div class="chessboard" ng-class="{debug: settings.debugMode, reversed: settings.isReversed}" id="chessboard">
    <div square="square" state="game.chessboardState[square]" selectable="isSelectableSquare(square)" ng-repeat="square in squares"></div>
    <div piece ng-model="piece" selectable="isSelectablePiece(piece)" capturable="isCapturablePiece(piece)" selected="isSelected(piece)" ng-repeat="piece in game.pieces.all"></div>
</div>
</script>

<!-- Template: square -->
<script type="text/ng-template" id="template-square.html">
<div ng-click="select()" class="square at-{{square}} {{square.complex}} default-select-disabled" ng-class="{selectable: isSelectable, reversed: settings.isReversed}" id={{square}}>
    <div ng-show="settings.debugMode" class="subscript square-id default-select-disabled">{{square}}</div>
    <div ng-show="settings.debugMode" class="square-outline" ng-class="{check: state.check, pin: state.pin}"></div>
    <div ng-show="settings.debugMode" class="square-value default-select-disabled">{{}}</div>
</div>
</script>

<!-- Template: piece -->
<script type="text/ng-template" id="template-piece.html">
<div ng-click="select()" class="piece {{color}} {{piece.name}} at-{{piece.square}}" ng-class="{selectable: isSelectable, capturable: isCapturable, selected: isSelected, reversed: settings.isReversed}" at={{piece.square}}>
    <div ng-show="settings.debugMode" class="subscript data default-select-disabled">{{piece.square}}</div>
</div>
</script>

<div id="body-container">

    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">...</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><button ng-click="startGame(true)" class="btn btn-warning">Play!</button></li>
                    <li><button ng-click="open()" ng-controller="newGameModalController" class="btn btn-info">New Game</button></li>
                </ul>

                <div id="nav-status-bar" ng-class="{user: game.activePlayer.isUser, ai: game.activePlayer.isAI}">
                    <span ng-switch="game.activePlayer.color">
                    <span ng-switch-when="0" class="ui-white">White to move</span>
                    <span ng-switch-when="1" class="ui-black">Black to move</span>
                    <span ng-switch-default>{{game.result}}</span>
                    </span>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="debug()"><span class="glyphicon glyphicon-wrench grey"></span> Debug</a></li>
                    <li><a ng-click="open()" ng-controller="optionsModalController"><span class="glyphicon glyphicon-cog grey"></span> Options</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- /Bootstrap navbar -->

    <!-- Vertical menu -->
    <div class="nav-side" id="nav-left">
        <div class="nav-side-content">

            <ul class="list-group" ng-class="settings.isReversed ? 'bottom' : 'top'">
                <li popover="Black: {{settings.controlBlack}}" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item player-control" ng-class="{active: game.activeColor === 1}">
                    <span ng-switch="settings.controlBlack">
                    <span ng-switch-when="1" class="option glyphicon glyphicon-user option-black"></span>
                    <span ng-switch-when="2" class="option glyphicon glyphicon-tower option-black"></span>
                    </span>
                </li>
            </ul>

            <ul class="list-group" ng-class="settings.isReversed ? 'top' : 'bottom'">
                <li popover="White: {{settings.controlWhite}}" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay=500 class="list-group-item player-control" ng-class="{active: game.activeColor === 0}">
                    <span ng-switch="settings.controlWhite">
                    <span ng-switch-when="1" class="option glyphicon glyphicon-user option-white"></span>
                    <span ng-switch-when="2" class="option glyphicon glyphicon-tower option-white"></span>
                    </span>
                </li>
            </ul>

        </div>
    </div>
    <!-- /Vertical menu -->

    <div class="nav-side" id="nav-right">
        <div class="nav-side-content">

            <ul class="list-group top">
                <li popover="Move list" popover-trigger="mouseenter" popover-placement="left" popover-popup-delay=500 class="list-group-item" ng-class="{opened: settings.moveList}">
                    <span ng-click="moveList()" class="option glyphicon glyphicon-list"></span>
                </li>
                <li popover="Move evaluation" popover-trigger="mouseenter" popover-placement="left" popover-popup-delay=500 class="list-group-item" ng-class="{opened: settings.moveEvaluation}">
                    <span ng-click="moveEvaluation()" class="option glyphicon glyphicon-sort-by-attributes-alt"></span>
                </li>
                <li popover="Game settings" popover-trigger="mouseenter" popover-placement="left" popover-popup-delay=500 class="list-group-item">
                    <span ng-click="open()" ng-controller="optionsModalController" class="option glyphicon glyphicon-cog"></span>
                </li>
                <li popover="Debug mode" popover-trigger="mouseenter" popover-placement="left" popover-popup-delay=500 class="list-group-item" ng-class="{opened: settings.debugMode}">
                    <span ng-click="debug()" class="option glyphicon glyphicon-wrench"></span>
                </li>
                <li popover="Reverse board" popover-trigger="mouseenter" popover-placement="left" popover-popup-delay=500 class="list-group-item" ng-class="{opened: settings.isReversed}">
                    <span ng-click="reverse()" class="option glyphicon glyphicon-repeat"></span>
                </li>
                <li popover="Cancel (spacebar)" popover-trigger="mouseenter" popover-placement="left" popover-popup-delay=500 class="list-group-item">
                    <span ng-click="cancel()" class="option glyphicon glyphicon-remove"></span>
                </li>
            </ul>

        </div>
    </div>

    <div id="content-container">

    <div class="widget" id="chessboard-container">        
        <div chessboard ng-controller="chessboardController"></div>
        <div ng-repeat="rank in rules.RANK_NAMES" class="coordinate rank-{{$index}}" ng-class="{reversed: settings.isReversed}">{{rank}}</div>
        <div ng-repeat="file in rules.FILE_NAMES" class="coordinate file-{{$index}}" ng-class="{reversed: settings.isReversed}">{{file | uppercase}}</div>
	</div>

    <div ng-show="settings.moveList" class="panel panel-default widget" id="movelist-container">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-list grey"></span> Move List</strong>
            <button ng-click="settings.moveList = false" type="button" class="close pull-right" aria-hidden="true">&times;</button>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-bordered">
                <tr ng-repeat="fullmove in game.history.fullMoveList">
                    <td width="16%">{{fullmove.index}}</td>
                    <td width="42%">{{fullmove.white.san}}</td>
                    <td width="42%">{{fullmove.black.san}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="settings.moveEvaluation" class="panel panel-default widget" id="console-container">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-sort-by-attributes-alt grey"></span> Move Evaluation</strong>
            <button ng-click="settings.moveEvaluation = false" type="button" class="close pull-right" aria-hidden="true">&times;</button>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <tr ng-repeat="node in engine.tree.root.children">
                    <td width="50%">{{node.move}}</td>
                    <td width="50%">{{node.value/100}}</td>
                </tr>               
            </table>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- Options modal -->
    <div class="modal-dialog" ng-controller="optionsModalController">
        <script type="text/ng-template" id="options-modal.html">
        <div class="modal-content">
            <div class="modal-header">
                <h4><span class="glyphicon glyphicon-cog grey"></span> Game Settings</h4>
            </div>
            <div class="modal-body">

                <tabset justified="true">

                    <tab heading="Gameplay">
                        <table class="table table-condensed table-striped table-bordered">
                            <tr ng-repeat="option in gameplay">
                                <td width="70%">{{option.label}}<span class="pull-right current-value">{{option.value}}</span></td>
                                <td width="30%">
                                    <span ng-switch="option.input">
                                    <span ng-switch-when="checkbox">
                                        <input ng-model="option.value" type="checkbox"/>
                                    </span>
                                    <span ng-switch-when="select">
                                        <select ng-model="option.value" ng-options="o.label for o in option.options"></select>
                                    </span>
                                    <span ng-switch-when="text">
                                        <input ng-model="option.value" type="text"/>
                                    </span>
                                    <span ng-switch-when="textarea">
                                        <textarea ng-model="option.value"></textarea>
                                    </span>
                                    </span>                            
                                </td>
                            </tr>
                        </table>
                    </tab>

                    <tab heading="Chessboard">
                        <table class="table table-condensed table-striped table-bordered">
                            <tr ng-repeat="option in chessboard">
                                <td width="70%">{{option.label}}<span class="pull-right current-value">{{option.value}}</span></td>
                                <td width="30%">
                                    <span ng-switch="option.input">
                                    <span ng-switch-when="checkbox">
                                        <input ng-model="option.value" type="checkbox"/>
                                    </span>
                                    <span ng-switch-when="select">
                                        <select ng-model="option.value" ng-options="o.label for o in option.options"></select>
                                    </span>
                                    <span ng-switch-when="text">
                                        <input ng-model="option.value" type="text"/>
                                    </span>
                                    <span ng-switch-when="textarea">
                                        <textarea ng-model="option.value"></textarea>
                                    </span>
                                    </span>                            
                                </td>
                            </tr>
                        </table>
                    </tab>

                    <tab heading="Widgets">
                        <table class="table table-condensed table-striped table-bordered">
                            <tr ng-repeat="option in widget">
                                <td width="70%">{{option.label}}<span class="pull-right current-value">{{option.value}}</span></td>
                                <td width="30%">
                                    <span ng-switch="option.input">
                                    <span ng-switch-when="checkbox">
                                        <input ng-model="option.value" type="checkbox"/>
                                    </span>
                                    <span ng-switch-when="select">
                                        <select ng-model="option.value" ng-options="o.label for o in option.options"></select>
                                    </span>
                                    <span ng-switch-when="text">
                                        <input ng-model="option.value" type="text"/>
                                    </span>
                                    <span ng-switch-when="textarea">
                                        <textarea ng-model="option.value"></textarea>
                                    </span>
                                    </span>                            
                                </td>
                            </tr>
                        </table>
                    </tab>

                    <tab heading="Advanced">
                        <table class="table table-condensed table-striped table-bordered">
                            <tr ng-repeat="option in advanced">
                                <td width="70%">{{option.label}}<span class="pull-right current-value">{{option.value}}</span></td>
                                <td width="30%">
                                    <span ng-switch="option.input">
                                    <span ng-switch-when="checkbox">
                                        <input ng-model="option.value" type="checkbox"/>
                                    </span>
                                    <span ng-switch-when="select">
                                        <select ng-model="option.value" ng-options="o.label for o in option.options"></select>
                                    </span>
                                    <span ng-switch-when="text">
                                        <input ng-model="option.value" type="text"/>
                                    </span>
                                    <span ng-switch-when="textarea">
                                        <textarea ng-model="option.value"></textarea>
                                    </span>
                                    </span>                            
                                </td>
                            </tr>
                        </table>
                    </tab>

                </tabset>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" ng-click="defaults()">Restore defaults</button>
                <button class="btn btn-primary" ng-click="ok()">Accept</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        </script>
    </div>
    <!-- /Options modal -->

    <!-- New Game modal -->
    <div class="modal-dialog" ng-controller="newGameModalController">
        <script type="text/ng-template" id="new-game-modal.html">
        <div class="modal-content">
            <div class="modal-header">
                <h4><span class="glyphicon glyphicon-cog grey"></span> New Game</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" ng-click="">Restore defaults</button>
                <button class="btn btn-primary" ng-click="ok()">Accept</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        </script>
    </div>
    <!-- /New Game modal -->

    </div>

</div>
<!-- Vendor Libraries -->
<script src="lib/js/lodash.min.js" defer></script>
<script src="lib/js/angular.min.js" defer></script>
<script src="lib/js/angular-animate.min.js" defer></script>
<script src="lib/js/angular-bootstrap.min.js" defer></script>
<!-- Chess App -->
<script src="js/scripts.js" defer></script>
<script src="js/app.js" defer></script>
<script src="js/services/settings.js" defer></script>
<script src="js/services/rules.js" defer></script>
<script src="js/services/game.js" defer></script>
<script src="js/services/engine.js" defer></script>
<script src="js/controllers/main.js" defer></script>
<script src="js/controllers/chessboard.js" defer></script>
<script src="js/controllers/console.js" defer></script>
<script src="js/controllers/options.js" defer></script>
<script src="js/directives/chessboard.js" defer></script>
</body>
</html>